body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* main styles */
.App {
  background-color: #494949;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  background-color: #7c7a7a;
  display: flex;
}

.active {
  color: #ff5d73;
}

/* header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

header nav {
  width: 70%;
  font-size: 24px;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

header h1 {
  margin-left: 2%;
  font-size: 40px;
}

header a {
  text-decoration: none;
  color: #ffffff;
}

li {
  list-style: none;
}

/* about section styles */
.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.about-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 5px solid #ff5d73;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #494949;
  color: #ffffff;
  font-size: 18px;
  height: 450px;
}

.me {
  height: 100%;
  max-width: auto;
}

.about-me {
  padding: 3.5%;
}

/* portfolio section styles */
.portfolio-picture {
  height: 250px;
  width: auto;
}

/* footer styles */

footer {
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  color: #ffffff;
}