body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* universal styles */
.App {
  background-color: #494949;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  background-color: #7c7a7a;
  display: flex;
}

.active {
  color: #ff5d73;
}

button {
  all: unset;
  cursor: pointer;
  background-color: #ff5d73;
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  text-align: center;
  font-weight: 700;
}

button:hover {
  outline: #ff5d73 3px auto;
  color: #ffffff;
}

.weight {
  font-weight: 600;
  font-size: 18px;
}

/* header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

header nav {
  width: 62%;
  font-size: 24px;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

header nav ul li {
  cursor: pointer;
}

header h1 {
  font-size: 50px;
  margin: 0;
}

header p {
  margin-top: 0;
  color: #ffffff;
  font-size: 20px;
}

li {
  list-style: none;
}

.header-creds {
  text-align: center;
  margin-left: 2%;
  margin-top: 7px;
}

/* about section styles */
.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.about-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 7% 5% 7%;
  color: #ffffff;
  font-size: 18px;
  height: 450px;
}

.me {
  height: 100%;
  max-width: auto;
  border: 4px solid #ff5d73;
  border-radius: 50%;
}

.about-me {
  padding: 3.5%;
  background-color: #494949;
  margin: 7%;
  border-radius: 5px;
}

.about-title {
  color: #ffffff;
  font-size: 40px;
}

/* portfolio section styles */

.titles {
  font-size: 30px;
}

.portfolio-picture {
  height: 250px;
  width: 500px;
  margin: 18px 25px;
  border: 4px solid #494949;
  border-radius: 5px;
  cursor: pointer;
}

.portfolio-picture:hover {
  border: 4px solid #ff5d73;
}

.picture-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* modal styles */

.modal-backdrop {
  background: rgba(0, 0, 0, .65);
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.modal-container {
  background: #494949;
  border-radius: 5px;
  max-width: 100%;
  margin: 50px auto;
  padding: 15px;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-title {
  font-size: 35px;
  margin: auto;
  color: #ffffff;
  padding: 15px;
}

.modal-picture {
  height: auto;
  width: 83%;
  border-radius: 5px;
  border: 4px solid #ff5d73;
  margin: auto;
}

.modal-description {
  color: #ffffff;
  font-size: 18px;
}

.modal-btn {
  margin-top: 8px;
}

.modal-button {
  margin-left: auto;
  width: 10%;
}

.github {
  display: flex;
  justify-content: space-around;
}

.github a {
  text-decoration: none;
  color: #0c0c0c;
  padding: 12px;
  font-size: 20px;
}

.github a:hover {
  color: #ffffff;
}

/* contact form styles */

.contact-holder {
  background: #494949;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 15px auto 15px auto;
  border: 4px solid #ff5d73;
  border-radius: 5px;
  padding: 15px 10% 25px 10%;
  color: #ffffff;
}

.contact-holder h1 {
  font-weight: 750;
  font-size: 40px;
}

.form-div {
  display: flex;
  flex-direction: column;
  margin: 10px 0 10px 0
}


.github-icon,
.linkedin-icon {
  font-size: 70px;
  color: #ffffff;
  cursor: pointer;
  transition: .1s;
  margin: 0 20px 0 20px;
}

.github-icon:hover {
  color: #0c0c0c;
}

.linkedin-icon:hover {
  color: #00a1e4;
}

.email-div {
  padding-bottom: 15px;
}

/* resume styles */

.resume-holder {
  background: #494949;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 15px auto 15px auto;
  border: 4px solid #ff5d73;
  border-radius: 5px;
  padding: 15px 10% 25px 10%;
  color: #ffffff;
}

.resume-head {
  font-size: 40px;
}

.resume-lists h3 {
  font-size: 30px;
}

.resume-lists ul {
  list-style-type: none;
  margin: 0;
  padding: 0px 0px 25px 0px;
  font-weight: 600;
}

.resume-lists h4 {
  font-size: 23px;
  color: #ff5d73;
}

.res-link, .email {
  text-decoration: none;
  color: #ff5d73;
}

.res-link:hover, .email:hover {
  color: #7c7a7a;
}

/* footer styles */

footer {
  height: 70px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}