body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* main styles */
.App {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

/* header styles */
header h1 {
  margin-left: 2%;
}

header a {
  text-decoration: none;
}

/* footer styles */

footer {
  height: 40px;
  text-align: center;
  align-items: center;
}

footer p {
  margin-top: auto;
  margin-bottom: auto;
  color: antiquewhite;
}